div.container {
  position:absolute;
  top:0;
  left:0;
  margin:0;
  padding:0;
  height:100vh;
  width:100vw;
  display:flex;
  z-index:50;
}

div.section {
  position:relative;
  flex-basis:0;
  flex-grow:1;
  flex-shrink:1;
  padding:0;
  height:100vh;
}

div.fill-line {
  position:absolute;
  bottom:0;
  left:0;
  margin:0;
  padding:0;
  width:100%;
  z-index:1;
}

div.blue   { background: rgb(44, 121, 223) }
div.navy   { background: rgb(29, 55, 172) }
div.red    { background: rgb(216, 75, 75) }
div.green  { background: rgb(73, 180, 82) }
div.pink   { background: rgb(197, 75, 197) }
div.purple { background: rgb(126, 88, 216) }
div.orange { background: rgb(190, 106, 66) }

div.blue-status   { background: rgb(19, 74, 145) }
div.navy-status   { background: rgb(17, 35, 112) }
div.red-status    { background: rgb(158, 43, 43) }
div.green-status  { background: rgb(30, 95, 35) }
div.pink-status   { background: rgb(141, 61, 141) }
div.purple-status { background: rgb(60, 33, 122) }
div.orange-status { background: rgb(121, 60, 32) }

div.section-name {
  position:absolute;
  top:0;
  left:50%;
  transform:translate(-50%, 5vh);
  text-align:center;
  height:3em;
  line-height:3em;
  font-size:1.8em;
  color:#fff;
  font-family:"Montserrat", sans-serif;
  z-index:50;
}

div.list-container {
  position:absolute;
  width:50%;
  top:50%;
  left:50%;
  transform:translate(calc(-50% - 10px), -50%);
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
  overflow-x:hidden;
  z-index:50;
}

div.list-container-inner {
  height:100%;
  width:100%;
  padding-right:30px;
  max-height:60vh;
  overflow-y:scroll;
}

div.list-item {
  position:relative;
  width:calc(100% + 30px);
  float: left;
  margin:0;
  padding:10px 0;
  line-height:1.5em;
  text-align:center;
  font-family:"Karla", sans-serif;
  font-size:1.1em;
  color:#fff;
  word-wrap: break-word;
}

div.list-item-hover {
  cursor:pointer;
}

div.list-item-hover:hover {
  text-decoration: line-through;
  background:rgba(255, 255, 255, 0.425);
}

div.undo-button, div.show-edit-list {
  position:absolute;
  bottom:0;
  margin:20px;
  height:30px;
  width:30px;
  padding:0;
  cursor:pointer;
  transition:.1s ease-in;
  z-index:50;
}

div.undo-button {
  left:0;
}

div.show-edit-list {
  right:0;
}

div.undo-button img, div.show-edit-list img {
  width:30px;
}

@keyframes spin {
  100% {
    transform:rotate(-360deg);
  }
}

div.undo-button:hover {
  opacity:0.5;
  animation: spin .2s;
}

div.show-edit-list:hover {
  opacity:0.5;
  animation: bounce .2s;
}

div.section canvas {
  height:100%;
  width:calc(100vw / 3);
  margin:0;
}
